/*Primer Color: #2c3e50*/
/*Segundo Color: #34495e*/

html, body{
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

div#wrapper{
	width: 100%; /*set to desired width*/
    height: 100%;
    margin: auto;
    position: relative;
}

header ul li,
div#menu-movil ul li,
article div#form ul li{
	display: inline-block;
	margin-right: -4px;
}

header{
	background-color: #27ec9c;
	padding: 10px 0px;
}
header img.logo{
	height: auto;
	width: 25%;
}
header ul.nav{
	float: right;
	width: 20%;
}
header ul.nav li{
	display: block;
	text-align: center;
}
header ul.nav li.mbottom{
	margin-bottom: 5px;
}
header ul.nav li a{
	background-color: #fff;
	color: #000;
	display: block;
	font-weight: 700;
	padding: 2.5px 0px;
}
div#menu-movil{
	display: none;
}
div#menu-movil ul{
	margin: 5px auto;
	text-align: center;
	width: 25%;
}
div#menu-movil ul li{
	width: 49%;
}
div#menu-movil ul li a{
	display: block;
	padding: 2.5px 0px;
	color: #000;
	font-size: 1em;
	font-weight: 700;
	border: 5px solid #27ec9c;
}

article{
	height: 80%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
article div#contenido{
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
article div#contenido p.main{
	font-size: 1.7em;
	font-weight: 700;
	text-transform: uppercase;
}
article div#contenido h2.base{
	border-radius: 5px;
	font-size: 1.2em;
	font-weight: 700;
	padding: 5px 10px;
}
article div#contenido h2{
	font-size: 3em;
	font-weight: 700;
	margin-top: 10px;
}
article div#contenido img.wifi{
	height: auto;
	width: 12.5%;
}
article div#form select,
article div#form input[type='text']{
	background: transparent;
	border: 7.5px solid #27ec9c;
	box-sizing: border-box;
	font-size: 1em;
	font-weight: 700;
	padding: 5px 10px;
	text-transform: uppercase;
	width: 100%;
	-webkit-appearance: none;
}
article div#form textarea{
	background-color: #27ec9c;
	border-radius: 5px;
	color: #000;
	font-size: 1em;
	font-weight: 700;
	height: 100px;
	padding: 5px 10px;
	width: 100%;
}
article div#form .mtop{
	margin-top: 10px;
}
article div#form img.hombre{
	height: 125px;
	margin-top: -5px;
	width: auto;
}
article div#form img.enviar{
	height: auto;
	width: 20%;
}
article div#form span a{
	border-bottom: 5px solid #27ec9c;
	color: #000;
	font-size: 1.25em;
	font-weight: 700;
	padding-bottom: 2.5px;
}
article div#condiciones{
	border: 5px solid #666;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: 700;
	margin-top: 10px;
	padding: 20px 15px;
}
article div#condiciones div{
	font-size: 0.9em;
	font-weight: 400;
	margin-left: 25px;
}
article div#boton{
	padding-top: 10%;
	text-align: right;
	width: 100%;
}
article div#boton img{
	width: 10%;
}



/*----- Clases -----*/
	.content{min-width: 320px; max-width: 1080px; margin: 0 auto;}
	.bg-none{background-color: transparent!important;}
	.bg-base{background-color: #27ec9c}
	.color-base{color: #27ec9c;}
	.color-white{color: #FFFFFF;}
	.display-block{display: block;}
	.display-inline{display: inline-block; margin-right: -4px!important;}
	.margin{margin: 10px;}
	.margin-up{margin-top: 10px;}
	.margin-down{margin-bottom: 10px;}
	.margin-center{margin: 0 auto;}
	.padding{padding: 10px;}
	.padding-up{padding-top: 10px;}
	.padding-down{padding-bottom: 10px;}
	.align-left{text-align: left;}
	.align-right{text-align: right;}
	.align-center{text-align: center;}
	.fright{float: right;}
	.fleft{float: left;}
	.valign-top{vertical-align: top;}
	.valign-middle{vertical-align: middle;}
	.valign-bottom{vertical-align: bottom;}
	.width-100{width: 100%;}
	.width-95{width: 95%;}
	.width-90{width: 90%;}
	.width-85{width: 85%;}
	.width-80{width: 80%;}
	.width-75{width: 75%;}
	.width-70{width: 70%;}
	.width-65{width: 65%;}
	.width-60{width: 60%;}
	.width-55{width: 55%;}
	.width-50{width: 50%;}
	.width-45{width: 45%;}
	.width-40{width: 40%;}
	.width-35{width: 35%;}
	.width-30{width: 30%;}
	.width-25{width: 25%;}
	.width-20{width: 20%;}
	.width-15{width: 15%;}
	.width-10{width: 10%;}
	.width-5{width: 5%;}
	.font-800{font-weight: 800}
	.font-700{font-weight: 700}
	.font-600{font-weight: 600}
	.font-500{font-weight: 500}
	.font-400{font-weight: 400}
	.font-300{font-weight: 300}
	.clear{
		height: 0!important;
		clear: both!important;
		font-size: 1px!important;
		line-height: 0px!important;
    }