/* Reset the stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, textarea, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
address, article, aside, audio, canvas, command, datalist, 
details, dialog, figure, figcaption, footer, header, hgroup,
keygen, mark, meter, menu, nav, progress,
ruby, section, time, video {
	margin: 0%;
	border: 0px;
	padding: 0%;
	outline: 0px;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 elements that are blocks */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, ul li, ol li {
    display: block;
    margin: 0;
}
strong{font-weight: bold;}

/* Normal HTML */
ol, ul {list-style: none;}
a{text-decoration: none;}