@media screen and (max-device-width : 1024px) {
	header div{
		width: 95%;
	}
	article{
		height: 70%!important;
	}
	article div#contenido{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
		width: 85%!important;
	}
	article div#contenido p.main{
		font-size: 1.25em!important;
	}
	article div#boton{
		padding-top: 5%!important;
		text-align: center;
	}
	article div#boton img{
		width: 10%!important;
	}

	article div#contenido h2.base{
		text-align: center;
	}
	article div#form img.enviar{
		width: 17.5%!important;
	}
	article div#contenido img.wifi{
		width: 10%!important;
	}
	article div#form span{
		margin-bottom: 20px!important;
	}
}

@media screen and (max-device-width : 800px) {
	header div{
		width: 100%;
	}
	header ul li{
		display: block!important;
		text-align: center;
		width: 100%!important;
	}
	header ul li img.logo{
		width: 22.5%!important;
	}
	header ul.nav{
		display: none;
	}
	div#menu-movil{
		display: block!important;
	}
	div#menu-movil ul{
		width: 75%!important;
	}
	article{
		height: 70%!important;
	}
	article div#contenido{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
		top: 0%!important;
		transform: translateY(0%)!important;
		width: 85%!important;
	}
	article div#contenido p.main{
		font-size: 1.25em!important;
	}
	article div#boton{
		padding-top: 5%!important;
		text-align: center;
	}
	article div#boton img{
		width: 15%!important;
	}

	article div#contenido h2.base{
		text-align: center;
	}
	article div#form img.enviar{
		width: 22.5%!important;
	}
	article div#contenido img.wifi{
		width: 15%!important;
	}
	article div#form span{
		margin-bottom: 20px!important;
	}
}

@media screen and (max-device-width : 640px) {
	header div{
		width: 100%;
	}
	header ul li{
		display: block!important;
		text-align: center;
		width: 100%!important;
	}
	header ul li img.logo{
		width: 25%!important;
	}
	header ul.nav{
		display: none;
	}
	div#menu-movil{
		display: block!important;
	}
	div#menu-movil ul{
		width: 75%!important;
	}
	article{
		height: 70%!important;
	}
	article div#contenido{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
		top: 0%!important;
		transform: translateY(0%)!important;
		width: 85%!important;
	}
	article div#contenido p.main{
		font-size: 1.25em!important;
	}
	article div#boton{
		padding-top: 5%!important;
		text-align: center;
	}
	article div#boton img{
		width: 15%!important;
	}

	article div#contenido h2.base{
		text-align: center;
	}
	article div#form img.enviar{
		width: 30%!important;
	}
	article div#contenido img.wifi{
		width: 20%!important;
	}
	article div#form span{
		margin-bottom: 20px!important;
	}
}

@media screen and (max-device-width : 480px) {
	header div{
		width: 100%;
	}
	header ul li{
		display: block!important;
		text-align: center;
		width: 100%!important;
	}
	header ul li img.logo{
		width: 35%!important;
	}
	header ul.nav{
		display: none;
	}
	div#menu-movil{
		display: block!important;
	}
	div#menu-movil ul{
		width: 75%!important;
	}
	article{
		height: 70%!important;
	}
	article div#contenido{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
		top: 0%!important;
		transform: translateY(0%)!important;
		width: 85%!important;
	}
	article div#contenido p.main{
		font-size: 1.25em!important;
	}
	article div#boton{
		padding-top: 5%!important;
		text-align: center;
	}
	article div#boton img{
		width: 20%!important;
	}

	article div#contenido h2.base{
		text-align: center;
	}
	article div#form img.enviar{
		width: 35%!important;
	}
	article div#contenido img.wifi{
		width: 25%!important;
	}
	article div#form span{
		margin-bottom: 20px!important;
	}
}

@media screen and (max-device-width : 320px) {
	header div{
		width: 100%;
	}
	header ul li{
		display: block!important;
		text-align: center;
		width: 100%!important;
	}
	header ul li img.logo{
		width: 40%!important;
	}
	header ul.nav{
		display: none;
	}
	div#menu-movil{
		display: block!important;
	}
	div#menu-movil ul{
		width: 75%!important;
	}
	article{
		height: 70%!important;
	}
	article div#contenido{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
		top: 0%!important;
		transform: translateY(0%)!important;
		width: 85%!important;
	}
	article div#contenido p.main{
		font-size: 1.25em!important;
	}
	article div#boton{
		text-align: center;
	}
	article div#boton img{
		width: 25%!important;
	}

	article div#contenido h2.base{
		text-align: center;
	}
	article div#form img.enviar{
		width: 50%!important;
	}
	article div#contenido img.wifi{
		width: 25%!important;
	}
	article div#form span{
		margin-bottom: 20px!important;
	}
}