@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot-b8hz17.html");
  src: url("fonts/icomoon.eot-.html#iefixb8hz17") format("embedded-opentype"), url("fonts/icomoon-b8hz17.woff") format("woff"), url("fonts/icomoon.ttf-b8hz17.html") format("truetype"), url("fonts/icomoon.svg-b8hz17.html#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
    font-family: 'mullerextrabold_demo';
    src: url('fonts/muller/muller-extrabold.eot');
    src: url('fonts/muller/muller-extrabold.eot?#iefix') format('embedded-opentype'),
         url('fonts/muller/muller-extrabold.woff2') format('woff2'),
         url('fonts/muller/muller-extrabold.woff') format('woff'),
         url('fonts/muller/muller-extrabold.ttf') format('truetype'),
         url('fonts/muller/muller-extrabold.svg#mullerextrabold_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mullerthin_demo';
    src: url('fonts/muller/muller-thin.eot');
    src: url('fonts/muller/muller-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/muller/muller-thin.woff2') format('woff2'),
         url('fonts/muller/muller-thin.woff') format('woff'),
         url('fonts/muller/muller-thin.ttf') format('truetype'),
         url('fonts/muller/muller-thin.svg#mullerthin_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-youtube:before {
  content: "\e600"; }

.icon-icon-twitter:before {
  content: "\e601"; }

.icon-icon-tumblr:before {
  content: "\e602"; }

.icon-icon-skype:before {
  content: "\e603"; }

.icon-icon-pinterest:before {
  content: "\e604"; }

.icon-icon-mobile:before {
  content: "\e605"; }

.icon-icon-map:before {
  content: "\e606"; }

.icon-icon-linkedin:before {
  content: "\e607"; }

.icon-icon-instagram:before {
  content: "\e608"; }

.icon-icon-google-plus:before {
  content: "\e609"; }

.icon-icon-facebook:before {
  content: "\e60a"; }

.icon-icon-email:before {
  content: "\e60b"; }

.icon-icon-dribble:before {
  content: "\e60c"; }

.icon-icon-behance:before {
  content: "\e60d"; }

/*-------------------
Global styles
--------------------- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif; }

.no-padding {
  padding: 0; }

#contTitleHome {
  position: absolute;
  top: 43%;
  padding-left: 65px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); 
}
#contTitleHome .description {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
#contTitleHome #verVideo {
  font-weight: 300;
  margin-top: 20px;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 16px;
}
#contTitleHome .flexslider .flex-viewport {
  margin-bottom: 20px;
}

.navbar-brand {
  margin-top: 4px;
  padding: 0 !important;
}
.navbar-brand img {
  height: 100%;
}

@media (max-width: 500px) {
  .navbar-brand {
    margin-top: 0;
    padding: 0 0 14px 0 !important;
  }
  .navbar-brand img {
    height: 100%;
  }
  #titleComoFunciona {
    top: 24%;
    width: 88px;
    /*display: none;*/
  }
  #contTitleHome {
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
  }
  #contTitleHome .description {
    margin-top: 15px;
    text-align: center;
  }
  #contTitleHome #verVideo {
    float: none;
    margin-top: 10px;
    width: auto;
  }
  #contTitleHome .flexslider,
  #contTitleHome .flexslider .flex-viewport {
    height: 30px !important;
    text-align: center;
    width: 100%;
  }
  #contTitleHome .header-supertext {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 0;
  }

  #contTitleHome .flexslider-heading {
    font-size: 31px;
    line-height: 32px;
  }

  .contact-heading {
    font-size: 2em !important;
  }
}



.center-vertically {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0; }

.center-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* main swiper */
.swiper-slide {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative; }

.my-pagination {
  display: block;
  position: absolute;
  height: auto;
  z-index: 999;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 30px; }

.swiper-pagination-switch {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  margin: 0 0px 10px;
  opacity: 0.6;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #000; }
  .swiper-pagination-switch:hover {
    background: #fff;
    cursor: pointer;
    border: 1px solid #000; }
  @media (min-width: 980px) {
    .swiper-pagination-switch {
      width: 10px;
      height: 10px; } }

.swiper-active-switch {
  background: #fff;
  border: 1px solid #000;
  opacity: 0.75; }
  .swiper-active-switch:hover {
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    cursor: pointer; }

.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  height: 66px;
  width: 66px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px; }
  @media (min-width: 768px) {
    .circle {
      margin-right: 40px;
      margin-top: 10px; } }

/* text animations */
.delayed {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.delayed2x {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

/* parallax */
.layer {
  top: -20% !important;
  left: -20% !important;
  width: auto;
  height: 115%;
  overflow: hidden; }

.scene {
  height: 100%;
  overflow: hidden; }

/*----------------------
Page sections
-----------------------*/
/*--- navbar --- */
/* horizontal navbar */
#staticBar.navbar {
  background: #30c1ff;
  border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
#staticBar .text-white {
  opacity: 1;
}
.navbar {
  background: rgba(0,0,0,.2);
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif; }
@media (max-width: 500px) {
  .navbar {
    height: 20px;
  }
  .menu-button {
    top: 2px;
  }
}
.collapse {
  display: none !important; }
  @media (min-width: 1200px) {
    .collapse {
      display: block !important; } }

.navbar-toggle {
  display: block; }
  @media (min-width: 1200px) {
    .navbar-toggle {
      display: none; } }

.nav.navbar-nav.navbar-right {
  margin-top: 10px; }
  .nav.navbar-nav.navbar-right li {
    margin: 0 10px; }
    @media (min-width) {
      .nav.navbar-nav.navbar-right li {
        margin: 0 20px; } }
    .nav.navbar-nav.navbar-right li.border-white .text-contact {
      padding: 10px 30px 8px 30px; }
    .nav.navbar-nav.navbar-right li a {
      font-size: 15px;
      font-weight: 300;
      padding: 10px 15px;
      margin: 0; }
      .nav.navbar-nav.navbar-right li a:hover {
        background: none;
        background-color: none;
        color: #fff; }
      .nav.navbar-nav.navbar-right li a:focus {
        outline: none;
        color: #fff; }

.nav > li > a:hover,
.nav > li > a:focus {
  background: none; }

.navbar-brand {
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  /*background-image: url("../img/logo-white.png");
  background-repeat: no-repeat;
  background-position: left center;*/
  width: 180px;
  margin-left: 15px;
  height: 46px; }
  @media (min-width: 1200px) {
    .navbar-brand {
      margin-left: auto;
      height: 50px; } }

/* sidebar */
.content-wrap {
  overflow-y: hidden; }

.menu-button {
  right: 0;
  margin: 0; }

.menu-button::before {
  background: none; }

.icon-bar {
  background: #fff; }

.menu {
  background: #231f20; }

.morph-shape {
  fill: #231f20; }

.menu-wrap a:hover {
  text-decoration: none; }
.menu-wrap a span {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  margin: 15px 0; }
  .menu-wrap a span:hover {
    color: #fff;
    background: none;
    -webkit-transition: opacity 0.9s ease;
    -moz-transition: opacity 0.9s ease;
    -o-transition: opacity 0.9s ease;
    transition: opacity 0.9s ease;
    opacity: 1;
    text-decoration: none; }
  .menu-wrap a span:focus {
    background: none; }

.close-button {
  right: 1.5em;
  top: 2em; }

.sidebar-brand {
  float: none;
  height: 24px;
  margin-bottom: 20px;
  margin-left: 1.4em; }

.icon-list a {
  padding-left: 1.4em; }
  .icon-list a:focus {
    color: #fff;
    outline: none;
    text-decoration: none; }
  .icon-list a .icon-list-item {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Source Sans Pro'; }

/* classes for js */
.active-link {
  font-weight: bold !important;
  text-transform: uppercase;
  opacity: 1 !important; }

.border-white {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .border-white:hover {
    border: 1px solid white; }

/*--- header ---*/
#scene > .layer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  /*height: 100%;*/
/*  width: 100%;*/ }

.header-inner-parallax {
  background-image: url("../img/bg/01.jpg"); }

.header-outer-parallax {
  background-image: url("../img/bg/01.jpg"); }

.layer-header-parallax {
  top: -5% !important;
  left: -5% !important;
  height: 110% !important;
  width: 110% !important;
  overflow: hidden; }

/* classes for js */
.default-bg-size {
  background-size: cover;
  /*background-size: 100% auto;*/
  /*background-size: auto 100%;*/ }

.change-bg-size {
  background-size: 100% auto !important; }

/* flexslider */
.flexslider {
  background: transparent;
  width: 90%;
  text-align: left;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none; }
  @media (min-width: 480px) {
    .flexslider {
      width: auto; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .flexslider {
      width: 135%; } }
  @media (min-width: 980px) {
    .flexslider {
      width: 100%; } }
  .flexslider .flex-control-paging li a {
    width: 8px;
    height: 8px; }
  .flexslider .slides li {
    height: 100px; }
    @media (min-width: 768px) {
      .flexslider .slides li {
        height: 130px; } }
    @media (min-width: 980px) {
      .flexslider .slides li {
        height: 80px; } }
    @media (min-width: 1200px) {
      .flexslider .slides li {
        height: 100px; } }

.flex-control-nav {
  display: none;
  bottom: -30px; }
  @media (min-width: 480px) {
    .flex-control-nav {
      display: none; } }

.flex-control-paging li a {
  opacity: 0.6;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #000;
  border: 1px solid #fff; }
  .flex-control-paging li a:hover {
    background: #fff;
    cursor: pointer;
    border: 1px solid #000; }
  .flex-control-paging li a.flex-active {
    opacity: 0.6;
    border: 1px solid #000;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: #fff; }
    .flex-control-paging li a.flex-active:hover {
      background: #000;
      cursor: pointer;
      border: 1px solid #fff; }

.flex-viewport {
  margin-bottom: 40px; }

/*--- portfolio-slides ---*/
#multiPlataforma {
  background: url(../img/bg/03.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }

.portfolio-background-image {
  height: 100%;
  width: 100%; }

.portfolio-inner-layer {
  width: 140%;
  height: 140%; }

.portfolio-outer-image {
  bottom: 70px;
  position: absolute;
  width: 95%;
  height: auto;
  left: -20%;
  right: 0;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .portfolio-outer-image {
      left: -15%;
      width: 100%;
      bottom: -30px; } }
  @media (min-width: 768px) {
    .portfolio-outer-image {
      bottom: 0; } }
  @media (min-width: 992px) {
    .portfolio-outer-image {
      width: 76%; } }
  @media (min-width: 1200px) {
    .portfolio-outer-image {
      bottom: 50px; } }
  @media (min-width: 1300px) {
    .portfolio-outer-image {
      width: 70%; } }

.portfolio-hiking-app-image-iphone {
  width: 120%;
  left: -35px;
  top: 17em; }
  @media (min-width: 480px) {
    .portfolio-hiking-app-image-iphone {
      left: 150px;
      width: 20%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-iphone {
      bottom: 13em; } }

.portfolio-hiking-app-image-imac {
  width: 120%;
  left: -35px;
  bottom: 12em; }
  @media (min-width: 480px) {
    .portfolio-hiking-app-image-imac {
      left: auto;
      right: 140px;
      width: 35%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-imac {
      bottom: 13em; } }


.portfolio-hiking-app-image-nube1 {
  width: 120%;
  left: -35px;
  top: 42em; }
  @media (min-width: 480px) {
    .portfolio-hiking-app-image-nube1 {
      left: 215px;
      width: 26%; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .portfolio-hiking-app-image-nube1 {
      top: 615px;
      left: 260px;
      width: 32%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-nube1 {
      top: 42em; } }

  @media (max-width: 500px) {
    .portfolio-hiking-app-image-nube1 {
      top: auto;
      width: 75%;
      bottom: 100px;
    }
  }

.portfolio-hiking-app-image-grua {
  width: 17%;
  left: -35px;
  top: -1em; }
  @media (min-width: 769px) {
    .portfolio-hiking-app-image-grua {
    width: 215px;
    left: 460px; }
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .portfolio-hiking-app-image-grua {
      left: 460px;
      width: 25%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-grua {
      bottom: 13em; } }

  @media (max-width: 500px) {
    .portfolio-hiking-app-image-grua {
      display: none;
    }
  }

.portfolio-hiking-app-image-nube2 {
  width: 120%;
  left: -35px;
  top: 43em; }
  @media (min-width: 769px) {
    .portfolio-hiking-app-image-nube2 {
      left: auto;
      right: 280px;
      width: 34%; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .portfolio-hiking-app-image-nube2 {
      left: auto;
      right: 65px;
      width: 38%;
      bottom: 0;
      top: 600px; } }
  @media (max-width: 480px) {
    .portfolio-hiking-app-image-nube2 {
      left: auto;
      right: 190px;
      width: 38%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-nube2 {
      top: 43em; } }

  @media (max-width: 500px) {
    .portfolio-hiking-app-image-nube2 {
      display: none;
    }
  }

.portfolio-hiking-app-image-mancha {
  width: 120%;
  left: -35px;
  top: 2em; }
  @media (min-width: 480px) {
    .portfolio-hiking-app-image-mancha {
      left: -60px;
      width: 50%;
      margin: 0; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-mancha {
      bottom: 13em; } }

  @media (max-width: 500px) {
    .portfolio-hiking-app-image-mancha {
      display: none;
    }
  }

.portfolio-hiking-app-image-mancha2 {
  width: 120%;
  left: -35px;
  bottom: 0em; }
  @media (min-width: 480px) {
    .portfolio-hiking-app-image-mancha2 {
      left: 0px;
      margin: 0;
      width: 33%; } }
  @media (min-width: 700px) and (min-height: 1280px) {
    .portfolio-hiking-app-image-mancha2 {
      bottom: 13em; } }


.portoflio-outer-layer {
  width: 140%;
  height: 140%; }

.portfolio-heading-container {
  position: absolute;
  top: 27%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  left: 13%; }
  @media (min-width: 480px) {
    .portfolio-heading-container {
      top: 34%;
      left: 10%; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .portfolio-heading-container {
      top: 34%;
      left: 10%; } }

  @media (max-width: 500px) {
    .portfolio-heading-container {
      padding-right: 50px;
      top: 42%;
    }
    .portfolio-heading {
      width: 195px;
    }
    .portfolio-subtext {
      margin-top: 20px;
      padding-left: 0;
      width: 100%;
    }
    .portfolio-hiking-app-image-iphone,
    .portfolio-hiking-app-image-imac {
      display: none;
    }
  }

.portfolio-heading {
  color: #fff;
  font-size: 2.8em;
  font-weight: 900;
  line-height: 1.2em; }
  @media (min-width: 480px) and (max-width: 768px) {
    .portfolio-heading {
      width: 32%;
      font-size: 3.2em;
      line-height: 1.4em; } }
  @media (max-width: 480px) {
    .portfolio-heading {
      font-size: 3.2em;
      line-height: 1.4em; } }
  @media (min-width: 769px) {
    .portfolio-heading {
      width: 32%;
      line-height: 1.6em;
      font-size: 60px; } }

.portfolio-subtext {
  color: #fff;
  font-weight: 300;
  font-size: 14px; }
  @media (min-width: 480px) {
    .portfolio-subtext {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      line-height: 22px;
      padding-left: 0;
      margin-top: 30px;
      font-weight: 300; } }

/*--- working-atmosphere ---*/
.working-atmosphere {
  height: 100%; }

.atmosphere-layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 140%;
  height: 140%; }

#scene6 > .layer {
  background-image: url("../img/01-gallery.jpg"); }

#scene7 > .layer {
  background-image: url("../img/02-gallery.jpg"); }

#scene8 > .layer {
  background-image: url("../img/03-gallery.jpg"); }

/* small swiper */
.swiper-small-pagination {
  height: auto;
  position: absolute;
  bottom: 30px;
  display: block;
  text-align: center;
  cursor: auto;
  z-index: 50;
  left: 0;
  right: 0; }
  .swiper-small-pagination .swiper-pagination-switch {
    display: inline-block;
    margin: 0 10px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: #000; }
    .swiper-small-pagination .swiper-pagination-switch:hover {
      background: #fff;
      cursor: pointer;
      border: 1px solid #000; }
  .swiper-small-pagination .swiper-active-switch {
    background: #fff;
    border: 1px solid #000;
    opacity: 0.75; }
    .swiper-small-pagination .swiper-active-switch:hover {
      -webkit-transition: background 0.3s ease;
      -moz-transition: background 0.3s ease;
      -o-transition: background 0.3s ease;
      transition: background 0.3s ease;
      cursor: pointer; }

.swiper-slide-small {
  height: 100%;
  width: 100%; }

.swiper-slide-small-image {
  width: 100%;
  height: 100%; }

.swiper-button-next {
  position: absolute;
  height: 80%;
  width: 45%;
  top: 0;
  right: 5%;
  cursor: url("../img/arrow-right.png"), auto;
  color: transparent; }

.swiper-button-prev {
  position: absolute;
  height: 80%;
  width: 45%;
  top: 0;
  left: 5%;
  cursor: url("../img/arrow-left.png"), auto;
  color: transparent; }

/*--- clients ---*/
.clients {
  background-color: #fff; }
  @media (min-width: 1200px) {
    .clients .container {
      padding: 0 40px; } }
  .clients .circle {
    margin-bottom: 5px;
    height: 40px;
    width: 40px; }
    @media (min-width: 480px) {
      .clients .circle {
        margin-bottom: 10px; } }
    @media (min-width: 768px) {
      .clients .circle {
        margin-bottom: 20px; } }
    .clients .circle.left {
      background-image: url("../img/woman.jpg"); }
    .clients .circle.right {
      background-image: url("../img/128.jpg"); }

.clients-container {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .clients-container {
      margin-top: 0; } }

.clients-subtext {
  color: #000;
  margin-top: 20px;
  font-size: 12px; }
  @media (min-width: 480px) {
    .clients-subtext {
      font-size: 16px; } }

.clients-paragraph {
  color: #000;
  font-size: 1em;
  font-weight: 300; }
  @media (min-width: 480px) {
    .clients-paragraph {
      font-size: 1.3em; } }
  @media (min-width: 600px) {
    .clients-paragraph {
      font-size: 1.9em; } }
  @media (min-width: 1200px) {
    .clients-paragraph {
      font-size: 26px; } }

/*--- mission ---*/
.mission {
  background-color: #fff; }
  .mission .center-vertically {
    top: 50%; }
    @media (min-width: 768px) {
      .mission .center-vertically {
        top: 55%; } }
  .mission .circle {
    background-image: url("../img/129.jpg");
    margin: 0 auto 20px; }
    @media (min-width: 480px) {
      .mission .circle {
        margin: 0 auto 30px; } }

/* --- authors --- */
.authors .icon {
  font-size: 1.5em;
  cursor: pointer; }
  @media (min-width: 992px) {
    .authors .icon {
      font-size: 2em; } }
.authors .col-xs-1 {
  margin-right: 20px; }
.authors .custom-col-first {
  width: 100%; }
  @media (min-width: 992px) {
    .authors .custom-col-first {
      width: 33%; } }
.authors .custom-col-second {
  width: 100%; }
  @media (min-width: 992px) {
    .authors .custom-col-second {
      width: 34%; } }
.authors .custom-col-third {
  width: 100%; }
  @media (min-width: 992px) {
    .authors .custom-col-third {
      width: 33%; } }

.authors-icons-container {
  bottom: 35px;
  left: 10px; }
  @media (min-width: 480px) {
    .authors-icons-container {
      left: 25px;
      bottom: 15px; } }
  @media (min-width: 992px) {
    .authors-icons-container {
      bottom: 48px; } }

.authors-heading-container {
  position: absolute;
  left: 22px;
  z-index: 10;
  top: 0%; }
  @media (min-width: 480px) {
    .authors-heading-container {
      left: 40px; } }
  @media (min-width: 768px) {
    .authors-heading-container {
      top: 10px; } }
  @media (min-width: 992px) {
    .authors-heading-container {
      top: 140px; } }

.authors-parallax-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 140% !important;
  height: 120% !important; }
  @media (min-width: 992px) {
    .authors-parallax-image {
      background-size: auto 100%; } }
  @media (min-width: 1200px) {
    .authors-parallax-image {
      -webkit-background-size: 100%;
      -o-background-size: 100%;
      background-size: auto 100%; } }

#scene3 > .layer {
  background-image: url("../img/girl.jpg"); }

#scene4 > .layer {
  background-image: url("../img/man.jpg");
  width: 140% !important;
  height: 120% !important; }
  @media (min-width: 768px) {
    #scene4 > .layer {
      height: 120% !important; } }

#scene3 .authors-parallax-image {
  background-position: 0% 30%; }

#scene4 .authors-parallax-image {
  background-position: 0% 30%; }
  @media (min-width: 768px) {
    #scene4 .authors-parallax-image {
      left: -10% !important; } }
  @media (min-width: 992px) {
    #scene4 .authors-parallax-image {
      background-position: center; } }

#scene5 .authors-parallax-image {
  background-position: 0% 50%; }
  @media (min-width: 768px) {
    #scene5 .authors-parallax-image {
      background-position: center center; } }
  @media (min-width: 1200px) {
    #scene5 .authors-parallax-image {
      left: 0 !important; } }

#scene5 > .layer {
  background-image: url("../img/58.jpg");
  width: 140% !important;
  height: 120% !important; }
  @media (min-width: 768px) {
    #scene5 > .layer {
      height: 120% !important; } }
  @media (min-width: 992px) {
    #scene5 > .layer {
      left: -5% !important; } }

#scene3, #scene4, #scene5 {
  height: 33.33333%; }
  @media (min-width: 992px) {
    #scene3, #scene4, #scene5 {
      height: 100%; } }

/* --- services --- */
#comoFunciona {
  background: url(../img/bg/02.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }

.services {
  background-color: #fff; }
  .services .center-vertically {
    top: 55%; }
  @media (min-width: 1200px) {
    .services .col-lg-3 {
      float: none;
      display: inline-block;
      margin: 0 25px; } }

  @media (max-width: 500px) {
    .services {
      overflow: scroll;
    }
  }

#comoFunciona #infoServices {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 115px;
}
@media (max-width: 768px) {
  #comoFunciona #infoServices {
    margin-top: 88px;
  } 
  #comoFunciona #infoServices p.description {
    font-size: 14px !important;
  }
  #comoFunciona #infoServices p.description .right-mobile {
    float: right;
    margin-bottom: 10px;
    padding-left: 95px;
    text-align: right;
  }
  #comoFunciona #infoServices p.description .left-mobile {
    text-align: left;
  }
}

@media (max-width: 500px) {
  #comoFunciona #infoServices {
    margin-top: 70px;
  } 
}

#comoFunciona #infoServices p.plus-red {
  color: #ff2929;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
  padding: 0 25px;
}
#comoFunciona #infoServices p.description {
  font-size: 17px;
  padding: 0 25px;
  text-align: left;
  font-weight: 300;
  margin-bottom: 0;
}
#comoFunciona #infoServices .contOpFunciona img {
  margin-bottom: 25px;
}
@media (min-width: 480px) and (max-width: 768px) {
    #comoFunciona #infoServices .contOpFunciona img {
      width: 100%;
      margin-bottom: 25px;
      padding: 20px; } }
#comoFunciona #infoServices .contOpFunciona h2 {
  line-height: 24px;
}
@media (min-width: 480px) and (max-width: 768px) {
    #comoFunciona #infoServices .contOpFunciona h2 {
      font-size: 15px;
      font-weight: 300;
      line-height: 22px; } }

@media (max-width: 500px) {
  #comoFunciona #infoServices p.plus-red {
    display: none;
  }
  #comoFunciona #infoServices p.description {
    font-size: 13px !important;
    padding: 0 20px 0 0;
  } 
  .contOpFunciona {
    display: none;
  }
}
  
.service-heading img {
  width: 100%;
}
.portfolio-heading img {
  width: 100%;
}
.divider-white {
  background: white;
  height: 2px;
  margin: 15px 0 55px 25px;
  width: 60%;
}
.vertical-top {
  vertical-align: top;
}
.service-heading-container {
  position: absolute;
  top: 27%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  left: 13%; }
  @media (min-width: 769px) {
    .service-heading-container {
      top: 30%;
      left: 10%; }
    #contact-heading-container {
      top: 25%;
      left: 10%; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .service-heading-container {
      width: 18%;
      top: 24%;
      left: 10%; }
    #contact-heading-container {
      width: 20%;
      top: 25%;
      left: 10%; } }
  @media (max-width: 480px) {
    .service-heading-container {
      top: 30%;
      left: 10%; }
    #contact-heading-container {
      top: 25%;
      left: 10%; } }

.service-heading {
  color: #fff;
  font-size: 2.8em;
  font-weight: 900;
  line-height: 1.2em; }
  @media (min-width: 480px) {
    .service-heading {
      font-size: 3.2em;
      line-height: 1.4em; } }
  @media (min-width: 1200px) {
    .service-heading {
      line-height: 1.6em;
      font-size: 60px; } }

.services-paragraph {
  font-size: 0.9em;
  line-height: 1.4em;
  font-weight: 400;
  margin-right: 25px; }
  @media (min-width: 480px) {
    .services-paragraph {
      font-size: 1.1em;
      line-height: 1.6em; } }
  @media (min-width: 768px) {
    .services-paragraph {
      margin-right: 0; } }
  @media (min-width: 768px) {
    .services-paragraph {
      font-size: 16px; } }

.services-heading {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px; }
  @media (min-width: 480px) {
    .services-heading {
      font-size: 1.5em; } }
  @media (min-width: 1200px) {
    .services-heading {
      font-size: 17px;
      font-weight: 300 } }

/* --- colaboradores --- */
.colaboradores {
  background-color: #fff; }
  .colaboradores .col-sm-8 {
    margin: 0 auto;
    float: none; }

.colaboradores-heading-container {
  position: absolute;
  top: 27%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  left: 13%; }
  @media (min-width: 480px) {
    .colaboradores-heading-container {
      top: 30%;
      left: 10%; } }

.colaboradores-heading {
  color: #fff;
  font-size: 2.8em;
  font-weight: 900;
  line-height: 1.2em; }
  @media (min-width: 480px) {
    .colaboradores-heading {
      font-size: 3.2em;
      line-height: 1.4em; } }
  @media (min-width: 1200px) {
    .colaboradores-heading {
      line-height: 1.6em;
      font-size: 60px; } }

#infoColaboradores {
  margin-top: 125px;
}
#infoColaboradores img {
  width: 100%;
}

@media (max-width: 768px) {
  #titleColaboran {
    display: none;
  }
  #infoColaboradores {
    margin-top: 150px;
  }
}


/* --- contact --- */
#levanta {
  background: url(../img/bg/04.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }

.contact {
  background: #231f20; }
  .contact .center-vertically {
    top: 45%; }
  .contact .center-bottom {
    bottom: 26px; }
  .contact .col-xs-10 {
    float: none;
    margin: 0 auto; }
  .contact .col-xs-1 {
    padding: 0;
    margin: 0;
    float: none;
    display: inline-block; }
    @media (min-width: 768px) {
      .contact .col-xs-1 {
        margin: 0 10px; } }
    @media (min-width: 992px) {
      .contact .col-xs-1 {
        margin: 0; } }
    @media (min-width: 1200px) {
      .contact .col-xs-1 {
        width: 7.333333%;
        margin: 0; } }

.contact-supertext,
.contact-heading {
  color: #fff; }

.contact-supertext {
  font-size: 14px;
  margin-bottom: 0; }
  @media (min-width: 480px) {
    .contact-supertext {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 40px; } }

.contact-heading {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  margin-top: 10px; }
  @media (min-width: 480px) {
    .contact-heading {
      font-size: 5em; } }
  @media (min-width: 768px) {
    .contact-heading {
      font-size: 70px; } }

.contact-link {
  color: #fff;
  font-size: 0.8em; }
  @media (min-width: 1200px) {
    .contact-link {
      font-size: 16px; } }
  .contact-link:hover {
    color: #fff;
    text-decoration: none; }

.icon-container {
  margin-top: 10px; }
  @media (min-width: 480px) {
    .icon-container {
      margin-top: 40px; } }

.contact-icon {
  font-size: 1.6em; }
  @media (min-width: 480px) {
    .contact-icon {
      font-size: 2.7em; } }
  @media (min-width: 768px) {
    .contact-icon {
      font-size: 3.5em; } }

.icon {
  color: #fff;
  display: inline-block; }

.copyright-text {
  color: #fff;
  font-size: 0.7em;
  opacity: 0.5; }
  @media (min-width: 768px) {
    .copyright-text {
      font-size: 16px; } }

/* classes for js */
.increase-size {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  -moz-transform: scale3d(1.5, 1.5, 1.5);
  -o-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease; }

.decrease-size {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease; }

/*-------------------
Typography
--------------------- */
.header-supertext {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center; }
  @media (min-width: 480px) {
    .header-supertext {
      font-size: 68px;
      text-align: left;
      margin-bottom: 0;
      font-weight: 800;
      letter-spacing: -2px; } }

.italic {
  font-style: italic; }

.text-red {
  color: #ed1b26; }
  .text-red:hover {
    color: #ed1b26; }

/* classes for js */
.text-black {
  color: #000 !important;
  opacity: 0.5;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease; }
  .text-black:hover {
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 1; }

.text-white {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease; }
  .text-white:hover {
    background: none;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 1; }
  .text-white:focus {
    background: none; }

.text-contact {
  color: #fff;
  opacity: 0.5;
  outline: none; }
  .text-contact:hover {
    background: white !important;
    -webkit-transition: background 0.9s ease, color 0.9s ease;
    -moz-transition: background 0.9s ease, color 0.9s ease;
    -o-transition: background 0.9s ease, color 0.9s ease;
    transition: background 0.9s ease, color 0.9s ease;
    opacity: 1;
    color: #000 !important; }
  .text-contact:focus {
    background: none; }
  .text-contact:visited {
    color: #fff; }

.flexslider-heading {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px; }
  @media (min-width: 480px) {
    .flexslider-heading {
      font-size: 48px;
      line-height: 48px; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .flexslider-heading {
      font-size: 66px;
      line-height: 75px; } }
  @media (min-width: 768px) {
    .flexslider-heading {
      font-size: 66px;
      line-height: 75px; } }
  @media (min-width: 1200px) {
    .flexslider-heading {
      text-align: left;
      letter-spacing: -2px;
      font-size: 75px;
      line-height: 90px; } }

.mission-paragraph {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 1.5em; }
  @media (min-width: 480px) {
    .mission-paragraph {
      font-size: 22px; } }
  @media (min-width: 768px) {
    .mission-paragraph {
      font-size: 24px;
      line-height: 1.6em; } }
  @media (min-width: 1200px) {
    .mission-paragraph {
      font-size: 28px; } }

.mission-subtext {
  font-weight: 300;
  font-size: 12px;
  color: #000;
  margin-top: 20px; }
  @media (min-width: 480px) {
    .mission-subtext {
      font-size: 16px; } }

.authors-heading {
  color: #fff;
  font-size: 2.3em;
  font-weight: 900;
  line-height: 1em; }
  @media (min-width: 480px) {
    .authors-heading {
      font-size: 3em; } }
  @media (min-width: 768px) {
    .authors-heading {
      font-size: 2.7em;
      line-height: 1.2em; } }
  @media (min-width: 1200px) {
    .authors-heading {
      font-size: 60px; } }
  .authors-heading br {
    display: none; }
    @media (min-width: 768px) {
      .authors-heading br {
        display: block; } }

.authors-subtext {
  color: #fff;
  font-size: 12px;
  font-weight: 300; }
  @media (min-width: 480px) {
    .authors-subtext {
      font-size: 16px; } }

/*-------------------
Buttons
--------------------- */
.btn-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  opacity: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 77%; }
  .btn-transparent:hover {
    background: #fff;
    color: #000;
    -webkit-transition: background 0.9s ease, color 0.9s ease;
    -moz-transition: background 0.9s ease, color 0.9s ease;
    -o-transition: background 0.9s ease, color 0.9s ease;
    transition: background 0.9s ease, color 0.9s ease; }
  @media (min-width: 480px) {
    .btn-transparent {
      width: 126px;
      height: 38px;
      font-size: 15px; } }

.scroll-anchor {
  position: absolute;
  height: 60px;
  bottom: 15px;
  left: 50%;
  cursor: pointer; }
  .scroll-anchor .btn-scroll {
    left: -50%;
    position: relative;
    height: 100%; }


body#internal {
  overflow-y: scroll;
}
#internalContent {
  padding-bottom: 120px;
  padding-top: 100px;
}
#internalContent #titleProject {
  background: url(../img/projects/chanaral.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 120px 20px 10px;
  position: relative;
}
#internalContent #titleProject h1 {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0,0,0,.4);
  z-index: 2;
}
#internalContent #leftCol,
#internalContent #rightCol {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}
#internalContent #rightCol .titleSection {
  font-size: 18px;
  margin-bottom: 20px;
}
#internalContent #contVideo iframe {
  height: 320px;
  width: 100%;
}
#internalContent .contOption {
  background: #f7f7f7;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 20px;
  padding: 25px 25px 5px;
  position: relative;
}
.hoverOption {
  display: none;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hoverOption .back {
  background: rgba(88, 220, 145, .9);
   border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.hoverOption p {
  color: white;
  font-size: 18px !important;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  top: 43%;
  z-index: 2
}
#internalContent .contOption h3,
#internalContent .contOption p {
  font-family: 'Roboto', sans-serif;
}
#internalContent .contOption h3 {
  font-size: 17px;
  margin-top: 0;
}
#internalContent .contOption p {
  font-size: 12px;
  font-weight: 300;
}
#internalContent #panelInformation {
  margin-top: 25px;
}
#contImgProjects {
  background: rgba(0,0,0,.8) none;
  background-size: 100% 100%;
  background: none,-webkit-linear-gradient(top,rgba(0,0,0,0) 70%,rgba(0,0,0,.8));
  background: none,linear-gradient(180deg,rgba(0,0,0,0) 70%,rgba(0,0,0,.8));
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -ms-border-radius: 0px 0px 7px 7px;
  -o-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.donateBtn {
  background: #09db22;
  color: white;
  font-size: 16px;
  padding: 10px 25px;
  width: 100%;
}
.donateBtn:hover {
  color: white;
}
.donateBtn i {
  vertical-align: top;
  background: #09db22;
  color: white;
  font-size: 19px;
  margin-top: 2px;
  margin-right: 3px;
}

.contRadio {
  float: left;
  margin-right: 5px;
}
.contRadio input {
  vertical-align: top;
}
.inputInfo {
  display: none;
  margin-bottom: 12px;
  margin-top: 0px;
}
.contOption .contInfo p {
  margin-bottom: 18px;
}
.contInfo textarea {
  height: 80px;
}
#infoUser {
  font-family: 'Roboto', sans-serif;
}
.contLogo a {
  display: inline-block;
}
.contLogo a img {
  width: 100%;
}

#infoFinanciacion {
  margin-bottom: 35px;
}
#infoFinanciacion .progress-bar-success {
    background-color: #09db22;
}

#infoFinanciacion ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0;
  padding-bottom: 5px;
}
#infoFinanciacion ul li {
  margin-bottom: 15px;
}
#infoFinanciacion ul li p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
#infoFinanciacion ul li .ammount {
  font-size: 21px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #contSocial {
    display: none;
  } 
  #infoFinanciacion {
    text-align: center;
  }
  #infoFinanciacion ul li {
    display: inline-block;
    margin-right: 20px;
  }
  #infoFinanciacion ul li:last-child {
    margin-right: 0px;
  }
}

#shareSocial {
  margin-right: -20px;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}
#shareSocial li {
  margin-bottom: 5px;
  text-align: right;
  position: relative;
}
#shareSocial li .contadorSocial {
  display: none;
  position: absolute;
  right: 70px;
  top: 0;
}
#shareSocial img {
  width: 54px;
}

#infoContacto {
  margin-top: 140px;
  padding-top: 15px;
}
#infoContacto .service-heading {
  margin-bottom: 40px;
  margin-top: 0;
  width: 80%;
}
#infoContacto p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
#infoContacto form {
  margin-top: 10px;
}
#infoContacto ul {
  list-style: none;
  padding-left: 0;
}
#infoContacto ul li {
  display: inline-block;
  margin-right: 10px;
}
#infoContacto ul li:last-child {
  margin-right: 0px;
}

#infoContacto input, #infoContacto textarea {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 2px dashed #ccc;
  box-shadow: none;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
}
#infoContacto input {
  height: 48px;
}

@media (max-width: 500px) {
  #infoContacto {
    margin-top: 65px;
    padding-bottom: 70px;
  }
  
  #infoContacto form {
    margin-top: 25px;
  }

  #infoContacto p {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

#infoContacto input::-webkit-input-placeholder,
#infoContacto textarea::-webkit-input-placeholder {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 300;
   opacity: .7;
}

#infoContacto input:-moz-placeholder,
#infoContacto textarea:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   opacity: .7;
}

#infoContacto input::-moz-placeholder,
#infoContacto textarea::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   opacity: .7;
}

#infoContacto input:-ms-input-placeholder,
#infoContacto textarea:-ms-input-placeholder  {  
   font-size: 16px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   opacity: .7;
}

footer {
  background: #535253;
  bottom: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  left: 0;
  padding: 15px 0;
  width: 100%;
}
footer#footerHome {
  position: absolute;
}
footer a {
  color: white;
  font-style: italic;
}
footer a:hover {
  color: white;
}
footer p {
  margin: 0 0 0 10px;
}
footer img {
  width: 24px;
}
footer img, footer p {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 500px) {
  footer {
    font-size: 14px;
    padding: 10px 0;
  }

  footer img {
    width: 18px;
  }
}


.navbar-nav li#iconSocialNav .icoNav {
  display: inline-block;
  margin-top: -4px;
  padding: 8px;
  width: 48px;
}
.navbar-nav li#iconSocialNav .icoNav img {
  width: 100%;
}

.icoContact {
  display: inline-block;
  width: 48px;
}
.icoContact img {
  width: 100%;
}

#sendContact {
  font-weight: 300;
  margin-top: 20px;
  background: none;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
}


/* preloader animation*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #000;
  z-index: 1500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

@media (max-width: 500px) {
  #loader {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
  }

  #status {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
