.clear{
	clear:both;
}

#fondo{
	/*border:1px solid red;*/
	
}
#submit_box{
    /*border:1px solid red;*/
    }
#boton_box{
    width: 80px; 
    margin:0 auto 0 auto;
    /*border:1px solid red;*/
    }

#msje_login{    
   width: 400px;
   margin:40px auto 0 auto;
   /*border:1px solid red; */
}

#imagen_login #logo{
	margin: 0 auto 0 50px;
}

#login-box {
	width:333px;
	height: 352px;
	margin:20px auto 0 auto;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../images/login-box-backg.png) no-repeat left top;
	
}
#formulario{
	/*border:1px solid red;*/
	margin:0 0 10px 0;
}
#login-box #login{
	margin:0 auto 0 110px;
	padding-top:20px;
}

#login-box h2 {
	padding:0;
	margin:0 auto 0 auto;
	/*border:1px solid red;*/
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
	text-align: center;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: left;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
   /* border:1px solid red;*/
}


.form-login  {
	width: 180px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}

#input_usuario{
   	width: 150px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb; 
    
}

#input_verificador{
    width: 20px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}

.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}