.clear{clear:both;}
.acciones_edicion{
    width:80px;
}

.imagenes_edicion{
    width:80px;
}

.imagenes_edicion a{   
    margin-right: 6px;
    float:left; 
}

#hide_problematica,#hide_reservado{
    display: none;
    /*visibility:hidden;*/
}

.dinamicos{
    width:700px;
    padding:10px 0 5px 0;
    border-bottom:1px solid #E5E5E5;
    
}
.dinamicos2{
    width:700px;
    padding:10px 0 10px 0;
}
.dinamicos3{
    width:700px;
    padding:10px 0 10px 0;
}
.dinamicos4{padding-left: 20px;margin-top: 10px;margin-bottom: 10px;}

#ruts{padding-left: 115px;}
#fechas{width:220px;margin-left: 150px;padding-left: 0px;}
.rutAgregar{margin-bottom: 5px;}

.spanes{
    width:150px;
    float:left;
}
.cajas{
    float:left;
}
.cajas2{
    float:left;
    width: 540px;
    height:40px;
}
#box_selected, #box_sucursal, #box_seccion,#box_cargo{
    float:left;
}

.button_css{
	background:url(../img/default-button.png) repeat-x top;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #1A527D;
	border-bottom:1px solid #0F3049;
	border-radius:2px;
	padding:6px 10px;
        margin-left: 3px;
	margin-right:10px;
	text-shadow: 0px -1px #174B73;}
	
.button_css:hover{
	border:1px solid #133E5C;
	cursor: pointer;
}
	
.oculta{display:none;}

.estado{width: 16px; height: 16px; float:left;}

.conjunto{width:600px;display: block;}
.elementosins,.elementosint,.elementostec{margin-left: 160px;}

/*programas*/

/* Control Area de Impresion */

@media print{
    table.tablesorter tbody td {color: #000;}
    table.tablesorter2 tbody td {color: #000;}
    table.tablesorter3 tbody td {color: #000;}
    table.tablesorter4 tbody td {color: #000;}
    #sidebar { display: none; }
    .simplebox .shortcuts-icons{ display: none; } 
    #submit_box{ display: none; } 
    .acciones_edicion{ display: none; } 
    #header { display: none; }
    #main{ background: #FFF;}
    #page{float: left;}
}

/* Botones Barra superior */

#profilebox.boton{
    width: 44px;
}
#profilebox.boton img{
    border: 0px;
}